<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vrksh_vaatika">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
     <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyDqweOHzQKtWoSy7NKeGEVG3yonP0LU7k4"/>
     <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
